.game-container{
  display: grid;
  background-color: black;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  padding: 25px;
}

.default {
  width: 75px;
  height: 75px;
  background-color: blue;
}

.active-element-computer {
  width: 75px;
  height: 75px;
  background-color: yellow;
}

.active-element-player {
  width: 75px;
  height: 75px;
  background-color: green;
}

.diactive-element-computer {
  width: 75px;
  height: 75px;
  background-color: red;
}
